<h1>Mi importadora</h1>
<p><a href="/almacens">Almacen</a></p>
<p><a href="/categoria">Categoria</a></p>
<p><a href="/ciudads">Ciudades</a></p>
<p><a href="/cotizacions">Cotizaciones</a></p>
<p><a href="/detalle_pedidos">Detalle Pedidos</a></p>
<p><a href="/documentos">Documentos</a></p>
<p><a href="/facturas">Facturas</a></p>
<p><a href="/marcas">Marcas</a></p>
<p><a href="/pais">Pais</a></p>
<p><a href="/pedidos">Pedidos</a></p>
<p><a href="/prod_almas">Productos / Almacenes</a></p>
<p><a href="/prod_cotis">Productos / Cotizaciones</a></p>
<p><a href="/productos">Productos</a></p>
<p><a href="/proveedors">Proveedores</a></p>
<p><a href="/tipo_documentos">Tipo documentos</a></p>
<p><a href="/tipo_pagos">Tipo Pagos</a></p>
<p><a href="/tipo_transportes">Tipo transportes</a></p>
<p><a href="/transportes">Transportes</a></p>

